body {
    padding: 25px;
    /*
    Not for body but for each div which contains a task
    
    background-image: url("images/background.jpg");
    background-size: 100% 300px;
    */
}

h1 {
    color: #808080;
}

h3 {
    color: #999999;
}

#main {
    margin-bottom: 130px;
}

#newTask {
    border: solid 1px black;
}

#statusText {
    clear: both;
}

#taskList {
    margin-bottom: 30px;
}